<h1><%= @user.username %></h1>

Role: <%= @user.role.capitalize %><br><br>

<% if @user.places.count == 0 %>
  This user has no places. <br><br>
<% else %>
  User's Places:<br>
  <% @user.places.each do |place| %>
    <%= link_to place.name, user_place_path(@user, place) %><br>
  <% end %>
<% end %>

<br><br><br>

<%= link_to "Edit User", edit_user_path(@user) %><br>

<%= link_to "Back to all users", users_path %>
