<h1>Welcome <%= current_user.username %></h1>
<h3>Here are all of your saved places:</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Neighborhood</th>
      <th>Address</th>
      <th>Has Wifi?</th>
      <th>Wifi Quality</th>
      <th>Has Restroom?</th>
      <th>Restroom Cleanliness</th>
      <th>Costs Money?</th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
    <tr>
      <td><%= link_to place.name, user_place_path(current_user, place) %></td>
      <td><%= link_to place.neighborhood.name, neighborhood_path(place.neighborhood) %></td>
      <td><%= place.address.street1 %></td>
      <td><%= place.wifi %></td>
      <td><%= place.wifi_quality %></td>
      <td><%= place.public_restroom %></td>
      <td><%= place.restroom_cleanliness %></td>
      <td><%= place.costs_money %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>Here are all of the places that have been shared with you:</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Neighborhood</th>
      <th>Address</th>
      <th>Has Wifi?</th>
      <th>Wifi Quality</th>
      <th>Has Restroom?</th>
      <th>Restroom Cleanliness</th>
      <th>Costs Money?</th>
      <th>Place's Creator</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.places_from_shared_places.each do |place| %>
    <tr>
      <% if place != nil %>
        <td><%= link_to place.name, user_place_path(current_user, place) %></td>
        <td><%= link_to place.neighborhood.name, neighborhood_path(place.neighborhood) %></td>
        <td><%= place.address.street1 %></td>
        <td><%= place.wifi %></td>
        <td><%= place.wifi_quality %></td>
        <td><%= place.public_restroom %></td>
        <td><%= place.restroom_cleanliness %></td>
        <td><%= place.costs_money %></td>
        <td><%= place.creator.username %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

