<h1>Welcome <%= current_user.username %></h1>
<h3>Here are all of your saved places</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Neighborhood</th>
      <th>Address</th>
      <th>Comments</th>
      <th>Has Wifi?</th>
      <th>Wifi Quality</th>
      <th>Has Restroom?</th>
      <th>Restroom Cleanliness</th>
      <th>Costs Money?</th>
      <th>Available for Purchase:</th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.place_type %></td>
      <td><%= link_to place.neighborhood.name, neighborhood_path(place.neighborhood) %></td>
      <td><%= place.address %></td>
      <td><%= place.comments %></td>
      <td><%= place.wifi %></td>
      <td><%= place.wifi_quality %></td>
      <td><%= place.public_restroom %></td>
      <td><%= place.restroom_cleanliness %></td>
      <td><%= place.costs_money %></td>
      <td><%= place.available_for_purchase %></td>
    </tr>
    <% end %>
  </tbody>
</table>