<h1><%= @place.name %> </h1>
<h4>Created by <%= @place.creator.username %></h4>

Neighborhood: <%= link_to @place.neighborhood.name, neighborhood_path(@place.neighborhood) %><br>
Has wifi? <%= @place.wifi %>
Wifi quality: <%= @place.wifi_quality %><br>
Has restroom? <%= @place.public_restroom %>
Restroom cleanliness: <%= @place.restroom_cleanliness %><br>
Costs money? <%= @place.costs_money %><br>
Address: <br>
<%= @place.address.street1 %><br>
<% if @place.address.street2 != "" %>
  <%= @place.address.street2 %><br>
<% end %>
<%= @place.address.city %><br>
<%= @place.address.state %><br>
<%= @place.address.zipcode %><br><br>

<%= link_to "Display Comments", place_comments_path(@place), class: "load_comments" %><br>
<div class="comments"></div>

<br><br><br>

<% if @permitted_editor %>
  <%= link_to "Edit Place", edit_user_place_path(@place.creator_id, @place) %>
<% end %>