<h1><%= @place.name %> </h1>

Neighborhood: <%= link_to @place.neighborhood.name, neighborhood_path(@place.neighborhood) %><br>
Address: <%= @place.address %><br>
Has wifi? <%= @place.wifi %>
Wifi quality: <%= @place.wifi_quality %><br>
Has restroom? <%= @place.public_restroom %>
Restroom cleanliness: <%= @place.restroom_cleanliness %><br>
Costs money? <%= @place.costs_money %><br><br>

<table>
  <thead>
    <tr>
      <th>Comments: </th>
    </tr>
  </thead>
  <tbody>
    <% @place.comments.each do |comment| %>
    <tr>
      <% if comment != nil %>
        <td>"<%= comment %>"</td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "Edit Place", edit_user_place_path(@place.creator_id, @place) %>

<%= form_for(@place) do |f| %>

  <%= f.fields_for :comments do |comment| %>
        <%= comment.label :comment %>
        <%= comment.text_area :comment %>
  <% end %>

  <%= link_to "Add Comment", add_comment_path(current_user, @place) %>
  <%= f.submit %>
<% end %>
